.popupWP.width600 {
  height: 600px;
}

.popup_bg .swalWP {
  padding-bottom: 94px;
}

.table-responsive {
  margin-top: 68px;
}

.head_bg.permissions td,
.mainTable.permissions td {
  width: 8%;
}


.head_bg.permissions td:nth-child(2),
.mainTable.permissions td:nth-child(2),
.head_bg.permissions td:nth-child(3),
.mainTable.permissions td:nth-child(3) {
  width: 23%;
}

.head_bg.permissions td:nth-child(4),
.mainTable.permissions td:nth-child(4),
.head_bg.permissions td:nth-child(5),
.mainTable.permissions td:nth-child(5) {
  width: 14%;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

label,
select {
  text-align: center;
}

.role {
  display: inline-block;
  margin: 0 auto;
}

.item.flex,
.operate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130px;
  border: 0;
  margin: 0;
}

.operate {
  width: 67%;
}

.item.flex input {
  margin-right: 5px;
}

.item.flex label {
  font-size: 1rem;
  color: #1e1e1e;
}

.operate .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/*pop*/
.popup_bg.edit .popupWP {
  height: 58vh;
}

.popupWP>.flex {
  padding: 7px 12px;
  margin-bottom: 16px;
}

.popupWP.width600 .popup {
  border: 0;
  align-items: flex-start;
  padding: 30px 20px;
  margin-bottom: -16px;
}

.edit_popup.flex .info {
  width: 100%;
}

.info>.flex {
  justify-content: space-evenly;
  box-sizing: content-box;
  padding: 7px 0px;
}

@media (max-width:850px) {

  .head_bg.permissions td:nth-child(1),
  .mainTable.permissions td:nth-child(1) {
    display: none;
  }
}

@media (max-width:700px) {

  .head_bg.permissions td:nth-child(5),
  .mainTable.permissions td:nth-child(5) {
    display: none;
  }
}

@media (max-width:650px) {

  .head_bg.permissions td:nth-child(2),
  .mainTable.permissions td:nth-child(2) {
    display: none;
  }
}

@media (max-width:580px) {

  .head_bg.permissions td:nth-child(6),
  .mainTable.permissions td:nth-child(6) {
    display: none;
  }
}

@media (max-width:560px) {

  .head_bg.permissions td:nth-child(4),
  .mainTable.permissions td:nth-child(4) {
    display: none;
  }

  .info>.flex.overflow {
    height: 132px;
  }

  .info>.flex.overflow .operate {
    flex-wrap: wrap;
  }

  .info>.flex {
    overflow-y: scroll;
  }

  .item.flex {
    width: 156px;
  }

  .operate {
    width: 80%;
  }
}

@media (max-width:414px) {
  .popup_bg .tabs li {
    padding: 0 10px;
  }

  .item.flex label {
    font-size: 0.9rem;
  }

}

@media (max-width:375px) {
  .popup_bg .tabs li {
    padding: 0 7px;
  }
}