.popup_bg .swalWP {
  overflow: scroll;
}

.head_bg td:nth-child(2),
.mainTable td:nth-child(2),
.head_bg td:nth-child(3),
.mainTable td:nth-child(3) {
  width: 20%;
}



.head_bg td:nth-child(6),
.mainTable td:nth-child(6),
.head_bg td:nth-child(7),
.mainTable td:nth-child(7),
.head_bg td:nth-child(8),
.mainTable td:nth-child(8) {
  width: 8%;
}

.head_bg td:nth-child(1),
.mainTable td:nth-child(1),
.head_bg td:nth-child(4),
.mainTable td:nth-child(4),
.head_bg td:nth-child(5),
.mainTable td:nth-child(5) {
  width: 12%;
}

.head_bg td:nth-child(7),
.mainTable td:nth-child(7) {
  width: 9%;
}

@media(max-width:900px) {

  .table-responsive table td:nth-child(1),
  .table-responsive .head_bg span:nth-child(1) {
    display: none;
  }
}

@media(max-width:780px) {

  .table-responsive table td:nth-child(7),
  .table-responsive .head_bg span:nth-child(7) {
    display: none;
  }
}

@media(max-width:580px) {

  .table-responsive table td:nth-child(5),
  .table-responsive .head_bg span:nth-child(5) {
    display: none;
  }
}

@media(max-width:515px) {

  .table-responsive table td:nth-child(3),
  .table-responsive .head_bg span:nth-child(3) {
    display: none;
  }
}

