
.validate.show:after,
.account.show::after,
.password.show::after {
  content: '請輸入帳號';
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 0.85rem;
  color: #ef0e0e;
}

.validate.show:after,
.password.show::after {
  content: '請輸入密碼';
  right: 36px;
}

.validate.show:after {
  content: '請輸入驗證碼';
  left: 84px;
  top: 14px;
}

.account.num::after,
.account.email::after,
.account.text::after {
  content: '請輸入手機或信箱';
  position: absolute;
  font-size: 0.9rem;
  color: #ef0e0e;
  right: 12px;
  top: 12px;
}

.account.num::after {
  content: '手機號碼有誤';
}

.account.email::after {
  content: '信箱格式有誤';
}

.signup .password.text.show::after,
.signup .password.text.atless::after {
  content: '請輸入密碼';
  right: 37px;
  top: 36px;
}

.signup .password.text.atless::after {
  content: '至少輸入6個字元';
  position: absolute;
  font-size: 0.9rem;
  color: #ef0e0e;
}

.signup .password.again.show::after {
  content: '請再次輸入密碼';
  right: 37px;
}

.signup .password.again.atless::after {
  content: '請輸入相同密碼';
  position: absolute;
  right: 37px;
  top: 12px;
  color: red;
  font-size: 0.9rem;
}

.password.text::before {
  content: '請輸入英文或數字，至少6個字元';
  color: #9200bb;
  font-size: 0.85rem;
  margin-left: 22px;
}
